.App {
    border: 2px solid rgba(37, 35, 35, 0.767);
    display: flex;
    width: 600px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.884);
}

iframe {
    border: 3px solid rgb(145, 44, 158);
    height: 390px;
    width: 440px;
}

h1, h2,h3 {
    color: rgb(128, 158, 44);
}

ul li {
    list-style: none;
    padding: 15px;
    color: white;
}

button {
    font-size: 12px;
    font-weight: 700;
    width: 60px;
    height: 25px;
    border: transparent;
    margin-left: 10px;
    border-radius: 5px;
    color: rgb(245, 245, 245);
    background-color: rgb(130, 71, 197);
}